<h1>Hello, this is the New Task Page</h1>

<%= form_for(@task) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.submit %>
<% end %>

<%= link_to "Go Back Home", root_path %>
<%= link_to "See all The Tasks", tasks_path %>
